$light-theme:#e7bd85;
$theme-color:#b28850;
$strong-theme:#9e6821;
$theme-alert:#8a2b1e;
$font-color:#282726;
$nav-color:#32312e;
$footer-color:#403e3a;
$bg-color:#dedddc;


// ALL

*{
    box-sizing: border-box;
}

h1{
    font-weight: bold;
}


a{
    color: #fff;
    text-decoration: none;
}

body{
    display: none;
    font-family: Hoefler Text,Songti TC,serif;
    -webkit-font-smoothing: antialiased;
}

p{
    line-height: 1.55em;
    letter-spacing: 0.5px;
}

.clearfix{
    &:after{
        display: table;
        content: "";
        clear: both;
    }
}

.main-container{
    text-align: center;
    padding: 60px 25px;
    background-color: $bg-color;
    
    h1{
        font-weight: bold;
        font-size: 28px;
        padding: 1.5em;
    }
    
    p{
        padding: 0.55em;
        font-size: 18px;
        color: $font-color;
    }
    
    .btn{
        margin-top: 60px;
        border: solid 1px $theme-alert;
        color: $theme-alert;
        display: inline-block;
        padding: 12px 60px; 
        cursor: pointer;
        transition: all 0.7s;
        
        &:hover{
            
            background: $theme-alert;
            color: #fff;
            
            i{
                transform: translate(3px,1px);
                color: #fff;
            }
        }
        
        i{
            color: $theme-alert;
            font-size: 18px;
            line-height: 14px;
            margin-left: 5px;
            transform: translate(0px,1px) ;
            transition: all 0.7s;
            
        }
    }
}

// kv zone

.kv-zone{
    
    h1{
        text-align: center;
        font-size: 50px;
        color: $font-color;
        padding: 60px 25px;
    }
    
}

.about-wrapper{
    .header{
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px 25px 60px;
        background-image: url(../images/13_kvbackground.jpg);
    }
}

// header

.index-wrapper{
    .header{
        min-height: 100vh;
    }
    
    .nav-zone:first-child{
        opacity: 0;
    }
}

.header{
    background-color: #fff;
    
    .header-bg{
        opacity: 0;
        transition: opacity 1.5s;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: #fff;
        background-image: url(../images/KV02.jpg);
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
    }
}

.nav-zone{
    padding: 0 35px;
    position: relative;
    z-index: 100;
    
    &:first-child{
        transition: opacity 1.5s;
    }
    
    .logo-box{
        float: left;
        width: 220px;
        
        img{
            width: 100%;
        }
        
        .fixed-logo{
            display: none;
        }
    }
    
    .navi-box{
        float: right;
        ul{
            padding: 50px 0;
            
            li{
                display: inline-block;
                padding: 10px 15px;
                font-size: 17px;
            }
            
            a{
                color: #fff;
                transition: all 0.7s;
                
                &:hover{
                    color: $theme-color;
                }
            }
        }
        
        .contact-btn{
            background: $theme-color;
            margin: 0px 20px;
            transition: all 0.7s;
            color: #eee;
            
            
            &:hover{
                background: #9e6821;
                color: #fff;
            }
            
            i{
                margin-right: 5px;
            }
        }
    }
    
    .menu-btn{
        cursor: pointer;
        position: relative;
        padding: 5px;
        i{
            color: #fff;
            font-size: 19px;
        }
        
        .fa-remove{
            position: absolute;
            background: $nav-color;
            padding: 5px;
            top: 0px;
            left: 0px;
            transform: rotate(45deg);
            transform-origin: center;
            opacity: 0;
            transition: all 0.7s ease;
        }
    }
    
    .menu-active{
        .fa-remove{
            transform: rotate(0deg);
            opacity: 1;
        }
    }
    
    .social-btns{
        text-align: center;
        a{
            display: inline-block;
            border: solid 1px $theme-color;
            color: $theme-color;
            margin: 15px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            
            i{
                color: $theme-color;
            }
        }
    }
}

.fixed-nav{
    display: none;
    position: fixed;
    background: $nav-color;
    width: 100%;
    padding: 15px 25px;
    top: 0px;
    left: 0px;
    .logo-box{
        max-width: 110px;
        img{
            display: none;
        }
        
        .fixed-logo{
            display: block;
        }
    }
    .navi-box{
        ul{
            padding: 5px 0;
        }
        
        .contact-btn{
            margin-right: 0px;
            margin-left: 10px;
        }
    }
}

// footer


.footer {
    color: #fff;
    
    .footer-zone{
//        background-color: $footer-color;
        background-image: url(../images/10footertexture.jpg);
        background-repeat: repeat;
        padding: 35px;
    }
    
    .container{
        max-width: 1280px;
        margin: 0 auto;
        text-align: center;
        
        
        .box{
            text-align: center;
            padding: 10px 35px;
            display: inline-block;
            vertical-align: middle;
            
            &:nth-child(1){
                text-align: right;
            }

            &:nth-child(3){
                text-align: left;
            }
            
            &:nth-child(2){
                border-right: solid 1px rgba(256,256,256,0.5);
                border-left: solid 1px rgba(256,256,256,0.5);
            }
        }
        
        .fb-btn{
            display: inline-block;
            color: $light-theme;
            border:solid 1px $light-theme;
            height: 45px;
            width: 45px;
            line-height: 45px;
            text-align: center;
            transition: all 0.7s;
            margin-right: 94px;
            
            &:hover{
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    }
    
    .copyright{
        background-color: $nav-color;
        padding: 15px;
        text-align: center;
    }
}


// landing 

.slogan {
    position: absolute;
    top:35%;
    left: 40%;
    margin-left: -450px;
    opacity: 0;
    transition: opacity 1.5s;
    font-weight: bold;
    
    p{
        font-weight: bold;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
        font-size: 40px;
        line-height: 1.9em;
        letter-spacing: 2px;
        color: #fff;
        -ms-writing-mode: tb-rl; 
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        display: block;
        -webkit-text-orientation: upright;
        -moz-text-orientation: upright;
        text-orientation: upright;   
    }
}

.scroll-btn{
    opacity: 0;
    border: solid 1px rgba(256,256,256,0.5);
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: all 0.7s;
    
    i{
        color: #fff;
        font-size: 36px;
        transform: translateY(0px);
        opacity: 0.5;
        transition: all 0.7s;
    }
    
    &:hover{
        border-color: rgba(256,256,256,1);
        
        i{
            opacity: 1;
            transform: translateY(3px);
        }
    }
}

.index-about-container{
    position: relative;
    overflow: hidden;
    background-image: url(../images/04paper_texture.png);
    
    .main-box{
        position: relative;
        z-index: 1;
        transform: translateY(-10px);
        opacity: 0;
        transition: all 3s ease;
    }
    
    img{
        margin: 25px auto;
    }
    
    h1{
        color: $theme-alert;
        margin-top: 45px;
    }
    
    p{
        font-size: 17px;
    }
    
    .btn{
        margin-top: 80px;
        margin-bottom: 45px;
    }
    
    .bg{
        position: absolute;
        opacity: 0;
        transition: all 5s ease-out;
        top: -80%;
        right: -15%;
     
        
        &:last-child{
            right: auto;
            left: -15%;
            top: -10%;    
            
            img{
                width: 115%;
            }
        }
        
        img{
            width: 100%;
        }
    }
}

.index-about-animate{
    .main-box{
        transform: translateY(0px);
        opacity: 1;
    }
    
    .bg{
        right: 0%;
        top: -87%;
        opacity: 1;
        
        &:last-child{
            right: auto;
            left: 0%;
            top: 0%;
        }
    }
}

.index-product-zone{
    background-image: url(../images/05productpattern.png);
}

.index-product-container{
    display: flex;
    padding: 0px;
    max-width: 1440px;
    margin: 0 auto;
    background: none;
    
    
    > div{
        padding: 60px 25px;
        width: 50%;
        
        &:last-child{
            background-image: url(../images/07productpic.png);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    
    .btn{
        margin-bottom: 45px;
    }
}

.index-conceptstore-container{
    background-image: url(../images/08conceptstore.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 25px 160px;
    
    h1,p,.btn{
        color: #fff;
    }
    
    .btn{
        border-color: #fff;
        
        i{
            color: #fff;
        }
        
        &:hover{
            background: #fff;
            color: $theme-alert;
            
            i{
                color: $theme-alert;
            }
        }
    }
}

