

.no-opacity{
    opacity: 1;
}


@media(min-width:1600px){
    .about-wrapper{
        .header{
            background-image: url(../images/13_kvbackground.jpg);
            background-size: 100%;
        }
    }
}

@media(min-width:777px){
    .visible-xs{
        display: none;
    }
    
    .hidden-xs{
        display: block;
    }
}

@media(max-width:776px){
    

    .main-container{
        h1{
            padding: 15px;
            font-size: 30px;
        }

        p{
            font-size: 18px;
        }
    }
    
    .index-wrapper{
        .header{
            
        }
    }
    
    .main-container h1 + hr{
        margin-top: 15px;
    }
    
    .header{
        
        .nav-zone{
            &:first-child{
                display: none;
            }
        }   
        
        .fixed-nav{
            display: block;
            opacity: 0;
            transition: all 0.7s;
            
            .logo-box{
                width: 70px;
            }
            
            ul{
                display: none;
                position: fixed;
                height: 100%;
                width: 100%;
                background: $footer-color;
                top: 50px;
                left: 0px;
                padding: 25px;
                z-index: 5;
                
                li{
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 25px 15px;
                }
                
                .contact-btn{
                    padding: 15px;
                    margin: 0;
                    margin-top: 25px;
                    margin-bottom: 45px;
                }
            }
        }

        .header-bg{
            background-position: bottom center;
            background-size: 110%;
            background-image: url(../images/KV02-mobile.png);
        }
        
        .slogan{
            top: 58%;
            left: 60%;
            margin: 0;
            
            p{
                font-size: 21px;
            }

        }
    }
    
    .fixed-nav{
        padding: 10px 15px;
    }
    
    .hidden-xs{
        display: none;
    }
    
    .visible-xs{
        display: block;
    }
    
    .index-about-container{
    }
    
    .index-product-container{
        
        display: block;
        
        >div{
            padding: 0px;
            width: 100%;
        }
        
        h1{
            padding: 65px 25px 25px;
        }
        
        p{
            padding-left: 25px;
            padding-right: 25px;
        }
    } 
    
    .index-conceptstore-container{
        background-size: auto 100%;
    }
    
    .about-wrapper{
        .header{
            background-image: url(../images/13_kvbackground.jpg);
            background-size: auto 100%;
            margin-top: 49px;
            padding: 15px 15px;
            
            h1{
                font-size: 30px;
                letter-spacing: 1px;
            }
        }
    }
    
    .footer{
        .container{
            .box{
                font-size: 14px;
                text-align: center!important;
                margin-top: 15px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
                
                a{
                    font-size: 16px;
                    padding: 0px;
                    margin: 0px;
                    text-align: center;
                    font-family: serif!important;
                }
                
                &:nth-child(2){
                    border: none;
                }
            }
            
            .fb-btn{
                margin-right: 0px;
            }
        }  
    } 
    
    .copyright{
        p{
            letter-spacing: 0px;
            font-size: 12px;
        }
    }
    

    .about-prouct{
        padding: 80px 20px;

        .main-box{

            h1,p{
                text-align: center;
            }

            hr{
                margin: 20px auto;
            }
        }
        
        .product{
            img{
                width: 100%;
            }   
        }

        .item1{
            top: -70px;
            left: 0%;
            width: 250px;
        }

        .item2{
            top:10%;
            left: -90px;
            width: 180px;
        }

        .item3{
            width: 230px;
            right: -45px;
            bottom: 35px;
        }
    }
    
    .about-brand{
        padding-bottom: 0px;
        
        span{
            display: none;
        }
    }
    

    #about-slider{
        
        padding: 45px 25px;
        
        .main-box{
            padding-bottom: 295px;
            text-align: center;
            
            h1,p,span{
                text-align: center;
            }

            hr{
                height: 45px;
                margin: 0 auto 15px;
            }
        }

        .slider-text{
            position: absolute;
            top: 140px;
            left: 0px;
            display: none;

            span{
                font-size: 30px;
            }

            h1{
                color: $theme-alert;
                margin-bottom: 25px;
                margin-top: 25px;
            }
        }

        .slider-bg{
            background-size: auto 100%;
        }

       
    }
    
    .video-responsive{
        margin-bottom: 0px;
    }
    
    .about-video{
        padding: 25px 15px 35px;
    }
    
}