@media(max-width:776px){
    
    .header{
        min-height: 100%;
        
        .nav-zone{
            &:first-child{
                display: none;
            }
        }   
        
        .fixed-nav{
            display: block;
            opacity: 0;
            transition: all 0.7s;
            
            .logo-box{
                width: 70px;
            }
            
            ul{
                display: none;
            }
        }

        .header-bg{
            background-position: bottom center;
            background-size: 110%;
            background-image: url(../images/KV02-mobile.png);
        }
        
        .slogan{
            top: 58%;
            left: 60%;
            margin: 0;
            
            p{
                font-size: 21px;
            }

        }
    }
    
    .index-about-container{
    }
}