

.no-opacity{
    opacity: 1;
}


@media(min-width:1600px){
    .about-wrapper{
        .header{
            background-image: url(../images/13_kvbackground.jpg);
            background-size: 100%;
        }
    }
    .concept-wrapper{
        .header{
            background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
            background-size: 100%;
        }
    }
    

    .product-wrapper{
        .header{
            background-image: url(../images/00_productKV.jpg);
            background-size: 100%;
            background-position: center 30%;
        }
    }
}

@media(min-width:777px){
    .visible-xs{
        display: none;
    }
    
    .hidden-xs{
        display: block;
    }
}

@media(max-width:776px){
    

    .main-container{
        h1{
            padding: 15px;
            font-size: 30px;
            letter-spacing: 0.5px;
        }

        p{
            font-size: 18px;
        }
    }
    
    #slide1{
        background-image: url(../images/09redray_A.jpg);
    }

    #slide2{
        background-image: url(../images/11redray_C.jpg);
    }

    #slide3{
        background-image: url(../images/10redray_B.jpg);
    }
    
    .index-wrapper{
        .header{
            
        }
    }
    
    .main-container h1 + hr{
        margin-top: 15px;
    }
    
    .header{
        
        .nav-zone{
            &:first-child{
                display: none;
            }
        }   
        
        .fixed-nav{
            display: block;
            opacity: 0;
            transition: all 0.7s;
            
            .logo-box{
                width: 70px;
            }
            
            ul{
                display: none;
                position: fixed;
                height: 100%;
                width: 100%;
                background: $footer-color;
                top: 50px;
                left: 0px;
                padding: 25px;
                z-index: 5;
                
                li{
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 25px 15px;
                }
                
                .contact-btn{
                    padding: 15px;
                    margin: 0;
                    margin-top: 25px;
                    margin-bottom: 45px;
                }
            }
        }

        .header-bg{
            background-position: bottom center;
            background-size: 110%;
            background-image: url(../images/KV02-mobile.png);
        }
        
        .slogan{
            top: 58%;
            left: 60%;
            margin: 0;
            
            p{
                font-size: 21px;
            }

        }
    }
    
    .fixed-nav{
        padding: 10px 15px;
    }
    
    .hidden-xs{
        display: none;
    }
    
    .visible-xs{
        display: block;
    }
    
    .index-about-container{
    }
    
    .index-product-container{
        
        display: block;
        
        >div{
            padding: 0px;
            width: 100%;
        }
        
        h1{
            padding: 65px 25px 25px;
        }
        
        p{
            padding-left: 25px;
            padding-right: 25px;
        }
    } 
    
    .index-conceptstore-container{
        background-size: auto 100%;
    }
    
    .about-wrapper,.contact-wrapper{
        .header{
            background-image: url(../images/13_kvbackground.jpg);
            background-size: auto 100%;
            margin-top: 49px;
            padding: 15px 15px;
            
            h1{
                font-size: 30px;
                letter-spacing: 1px;
            }
        }
    }
    
    .contact-wrapper{
        .header{
            background-image: url(../images/01_KV%20Scenario-mobile.jpg);        
        }
    }
    
    .concept-wrapper{
        .header{
            background-image: url(../images/01_KV_Scenario_conceptstore.jpg);        
            background-size: 100%;
        }
    }

    .footer{
        .container{
            .box{
                font-size: 14px;
                text-align: center!important;
                margin-top: 15px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
                
                a{
                    font-size: 16px;
                    padding: 0px;
                    margin: 0px;
                    text-align: center;
                    font-family: serif!important;
                }
                
                &:nth-child(2){
                    border: none;
                }
            }
            
            .fb-btn{
                margin-right: 0px;
            }
        }  
    } 
    
    .copyright{
        p{
            letter-spacing: 0px;
            font-size: 12px;
        }
    }
    

    .about-prouct{
        padding: 80px 20px;

        .main-box{

            h1,p{
                text-align: center;
            }

            p{
                line-height: 1.55em;
            }
            
            hr{
                margin: 20px auto;
            }
        }
        
        .product{
            img{
                width: 100%;
            }   
        }

        .item1{
            top: -70px;
            left: 0%;
            width: 250px;
        }

        .item2{
            top:10%;
            left: -90px;
            width: 180px;
        }

        .item3{
            width: 230px;
            right: -45px;
            bottom: 35px;
        }
    }
    
    .about-brand{
        padding-bottom: 0px;
        
        span{
            display: none;
        }
    }
    

    #about-slider{
        
        padding: 45px 25px;
        
        .main-box{
            padding-bottom: 305px;
            text-align: center;
            
            h1,p,span{
                text-align: center;
            }
            
            p{
                line-height: 1.55em;
            }

            hr{
                height: 45px;
                margin: 0 auto 15px;
            }
        }

        .slider-text{
            position: absolute;
            top: 140px;
            left: 0px;
            display: none;

            span{
                font-size: 30px;
            }

            h1{
                color: $theme-alert;
                margin-bottom: 25px;
                margin-top: 25px;
            }
        }

        .slider-bg{
            background-size: auto 100%;
        }

       
    }
    
    .video-responsive{
        margin-bottom: 0px;
    }
    
    .about-video{
        padding: 25px 15px 35px;
    }

    .main-tele{
        font-family: serif!important;

        p{
            font-size: 30px;
        }
    }   
    
    .location-container{
        .embed-responsive{
            display: none!important;
        }
        .maps{
            padding: 0px;
            width: 100%!important;
            
            .btn{
                margin: 45px auto 0;
                display: table;
            }
        }  
    } 
    
    .concept-slider{
        padding: 45px 0 0;
    }
    
    .concept-info{
        margin: 0!important;
    }
    
    .concept-slider .main-box{
        .next-btn{
            margin: 0;
            right: 10px;
        }
        
        .pre-btn{
            margin: 0;
            left: 10px;
        }
    }

    .concept-slider .section-menu {
        display: block;
        padding-bottom: 15px;
    }
    
    .product-wrapper{
        .header{
            background-image: url(../images/00_productKV.jpg);
            background-size: auto 100%;
            background-position: center;
        }
    }
    
    .product-container {
        padding: 0px 15px!important;
        
        
        .product-header{
            margin: 0 -15px;
            padding: 45px;
            font-size: 30px;
            background-size: 100%;
        }
        
        .sec-2{
            background-image:url(../images/backgroundKV2.jpg);
        }
        
        .second-hr{
            max-width: 90%;
        }
        
        .main-box{
            padding: 0;
            margin-bottom: 60px;
            width: 100%;
            float: none;
        
            hr{
                margin-top: 0px;
            }
            
            
            
            img{
                max-width: 100%;
            }
            
            .img-box{
                height: 160px;
            }
            
            .btn{
                margin-top: 15px;
                width: 90%;
            }
        }
        
        .second-hr{
            margin-top: 5px;

            &:after{
                margin-top: 5px;
            }
        }
    }
    
    .product-inner{
        
        padding: 25px;
        
        .main-box{
            
            display: block;
            
            .detail-box{
                padding: 0px;
                
                table{
                    padding: 0px 20px;
                    margin-bottom: 10px;
                    tr{
                        padding: 15px 0;
                    }
                    td{
                        width: 100%;
                        padding: 7.5px;
                        
                        &:first-child{
                            font-weight: bold;
                        }
                    }
                }
            }
            
            .img-box{
                padding: 15px 0px;
                margin: 0 -25px;
                display: block;
                width: auto;
                position: relative;
                overflow: hidden;
                
                .main-img{
                    display: none;
                }
                
                >ul{
                    margin: 0px;
                    display: flex;
                    position: relative;
                    padding: 0px;
                    left: 0px;
                    transition: left 0.7s ease;
                    
                    li{
                        float: none;
                        padding: 0px;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                }
                
                .slider-dot{
                    position: absolute;
                    width: 100%;
                    bottom: 35px;
                    text-align: center;
                    
                    ul{
                        position: relative;
                        text-align: center;
                        display: block;
                        margin: 0;
                        padding: 0;
                    }
                    
                    li{
                        float: none;
                        padding: 0;
                        border: solid 1px $font-color;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin: 5px;
                        border-radius: 100%;
                        transition: all 0.7s;
                    }
                    
                    .active{
                        background: $font-color;
                        
                    }
                }
            }
            
            > div{
                width: 100%;
            }
        }
       
    } 
    
    .product-video{
        padding: 45px 15px;
        .main-box .video-box{
            width: 100%;
        }
    } 
}