/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/_main_style.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../sass/_main_style.scss */
h1 {
  font-weight: bold;
  line-height: 1.35em;
}

/* line 22, ../sass/_main_style.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 27, ../sass/_main_style.scss */
body {
  display: none;
  font-family: Hoefler Text,Songti TC,serif;
  -webkit-font-smoothing: antialiased;
}

/* line 33, ../sass/_main_style.scss */
p {
  line-height: 1.55em;
  letter-spacing: 0.5px;
}

/* line 39, ../sass/_main_style.scss */
.video-responsive {
  position: relative;
  padding-bottom: 55.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 49, ../sass/_main_style.scss */
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 59, ../sass/_main_style.scss */
.embed-responsive {
  margin: 0 auto;
  text-align: center;
}

/* line 64, ../sass/_main_style.scss */
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed,
.embed-responsive twitterwidget {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

/* line 74, ../sass/_main_style.scss */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* line 81, ../sass/_main_style.scss */
.section-menu {
  text-align: center;
  margin-top: -30px;
}
/* line 87, ../sass/_main_style.scss */
.section-menu li {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 25px;
  border-right: solid 1px rgba(0, 0, 0, 0.5);
}
/* line 94, ../sass/_main_style.scss */
.section-menu li:hover {
  color: #8a2b1e;
}
/* line 98, ../sass/_main_style.scss */
.section-menu li:last-child {
  border-right: none;
}
/* line 104, ../sass/_main_style.scss */
.section-menu .active {
  color: #8a2b1e;
}
/* line 108, ../sass/_main_style.scss */
.section-menu:after {
  content: "";
  width: 100%;
  max-width: 1600px;
  height: 5px;
  background-image: url(../images/04subnav_line.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 25px auto 55px;
}

/* line 121, ../sass/_main_style.scss */
.main-container {
  text-align: center;
  padding: 60px 25px;
  background-color: #dedddc;
}
/* line 126, ../sass/_main_style.scss */
.main-container h1 {
  font-weight: bold;
  font-size: 28px;
  padding: 1.5em;
  color: #282726;
}
/* line 133, ../sass/_main_style.scss */
.main-container h1 + hr {
  margin-top: -15px;
}
/* line 137, ../sass/_main_style.scss */
.main-container hr {
  display: table;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #8a2b1e;
  border: none;
  margin: 20px auto;
}
/* line 147, ../sass/_main_style.scss */
.main-container hr:after, .main-container hr:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #8a2b1e;
}
/* line 158, ../sass/_main_style.scss */
.main-container hr:before {
  left: auto;
  right: -35px;
}
/* line 165, ../sass/_main_style.scss */
.main-container p {
  padding: 0.55em;
  font-size: 18px;
  color: #282726;
}
/* line 171, ../sass/_main_style.scss */
.main-container .btn {
  margin-top: 60px;
  border: solid 1px #8a2b1e;
  color: #8a2b1e;
  display: inline-block;
  padding: 12px 60px;
  cursor: pointer;
  transition: all 0.7s;
}
/* line 180, ../sass/_main_style.scss */
.main-container .btn:hover {
  background: #8a2b1e;
  color: #fff;
}
/* line 185, ../sass/_main_style.scss */
.main-container .btn:hover i {
  transform: translate(3px, 1px);
  color: #fff;
}
/* line 191, ../sass/_main_style.scss */
.main-container .btn i {
  color: #8a2b1e;
  font-size: 18px;
  line-height: 14px;
  margin-left: 5px;
  transform: translate(0px, 1px);
  transition: all 0.7s;
}
/* line 203, ../sass/_main_style.scss */
.main-container .second-hr {
  border: none;
  max-width: 300px;
  margin: 25px auto;
}
/* line 208, ../sass/_main_style.scss */
.main-container .second-hr:after {
  content: "";
  width: 100%;
  max-width: 1600px;
  height: 5px;
  background-image: url(../images/04subnav_line.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 25px auto;
}

/* line 228, ../sass/_main_style.scss */
.kv-zone h1 {
  text-align: center;
  font-size: 50px;
  color: #282726;
  padding: 60px 25px;
}

/* line 238, ../sass/_main_style.scss */
.about-wrapper .header, .contact-wrapper .header {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 25px 60px;
  background-image: url(../images/13_kvbackgroundB.jpg);
}

/* line 248, ../sass/_main_style.scss */
.contact-wrapper .header {
  background-image: url(../images/01_KV%20Scenario.jpg);
  background-position: center 20%;
}
/* line 252, ../sass/_main_style.scss */
.contact-wrapper .header h1 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 260, ../sass/_main_style.scss */
.concept-wrapper .header {
  background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
}
/* line 262, ../sass/_main_style.scss */
.concept-wrapper .header h1 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 270, ../sass/_main_style.scss */
.product-wrapper .header {
  background-image: url(../images/00_productKV.jpg);
  background-position: 30% center;
}
/* line 273, ../sass/_main_style.scss */
.product-wrapper .header h1 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 283, ../sass/_main_style.scss */
.index-wrapper .header {
  min-height: 100vh;
}
/* line 287, ../sass/_main_style.scss */
.index-wrapper .nav-zone:first-child {
  opacity: 0;
}

/* line 292, ../sass/_main_style.scss */
.header {
  background-color: #fff;
}
/* line 295, ../sass/_main_style.scss */
.header .header-bg {
  opacity: 0;
  transition: opacity 1.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-image: url(../images/KV02.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* line 312, ../sass/_main_style.scss */
.nav-zone {
  padding: 0 35px;
  position: relative;
  z-index: 100;
}
/* line 317, ../sass/_main_style.scss */
.nav-zone:first-child {
  transition: opacity 1.5s;
}
/* line 321, ../sass/_main_style.scss */
.nav-zone .logo-box {
  float: left;
  width: 220px;
}
/* line 325, ../sass/_main_style.scss */
.nav-zone .logo-box img {
  width: 100%;
}
/* line 329, ../sass/_main_style.scss */
.nav-zone .logo-box .fixed-logo {
  display: none;
}
/* line 334, ../sass/_main_style.scss */
.nav-zone .navi-box {
  float: right;
}
/* line 336, ../sass/_main_style.scss */
.nav-zone .navi-box ul {
  padding: 50px 0;
}
/* line 339, ../sass/_main_style.scss */
.nav-zone .navi-box ul li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
}
/* line 345, ../sass/_main_style.scss */
.nav-zone .navi-box ul a {
  color: #fff;
  transition: all 0.7s;
}
/* line 349, ../sass/_main_style.scss */
.nav-zone .navi-box ul a:hover {
  color: #b28850;
}
/* line 355, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn {
  background: #b28850;
  margin: 0px 20px;
  transition: all 0.7s;
  color: #eee;
}
/* line 362, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn:hover {
  background: #9e6821;
  color: #fff;
}
/* line 367, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn i {
  margin-right: 5px;
}
/* line 373, ../sass/_main_style.scss */
.nav-zone .menu-btn {
  cursor: pointer;
  position: relative;
  padding: 5px;
}
/* line 377, ../sass/_main_style.scss */
.nav-zone .menu-btn i {
  color: #fff;
  font-size: 19px;
}
/* line 382, ../sass/_main_style.scss */
.nav-zone .menu-btn .fa-remove {
  position: absolute;
  background: #32312e;
  padding: 5px;
  top: 0px;
  left: 0px;
  transform: rotate(45deg);
  transform-origin: center;
  opacity: 0;
  transition: all 0.7s ease;
}
/* line 396, ../sass/_main_style.scss */
.nav-zone .menu-active .fa-remove {
  transform: rotate(0deg);
  opacity: 1;
}
/* line 402, ../sass/_main_style.scss */
.nav-zone .social-btns {
  text-align: center;
}
/* line 404, ../sass/_main_style.scss */
.nav-zone .social-btns a {
  display: inline-block;
  border: solid 1px #b28850;
  color: #b28850;
  margin: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
/* line 414, ../sass/_main_style.scss */
.nav-zone .social-btns a i {
  color: #b28850;
}

/* line 421, ../sass/_main_style.scss */
.fixed-nav {
  display: none;
  position: fixed;
  background: #32312e;
  width: 100%;
  padding: 15px 25px;
  top: 0px;
  left: 0px;
}
/* line 429, ../sass/_main_style.scss */
.fixed-nav .logo-box {
  max-width: 110px;
}
/* line 431, ../sass/_main_style.scss */
.fixed-nav .logo-box img {
  display: none;
}
/* line 435, ../sass/_main_style.scss */
.fixed-nav .logo-box .fixed-logo {
  display: block;
}
/* line 440, ../sass/_main_style.scss */
.fixed-nav .navi-box ul {
  padding: 5px 0;
}
/* line 444, ../sass/_main_style.scss */
.fixed-nav .navi-box .contact-btn {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 454, ../sass/_main_style.scss */
.footer {
  color: #fff;
}
/* line 457, ../sass/_main_style.scss */
.footer .footer-zone {
  background-image: url(../images/10footertexture.jpg);
  background-repeat: repeat;
  padding: 35px;
}
/* line 464, ../sass/_main_style.scss */
.footer .container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
/* line 470, ../sass/_main_style.scss */
.footer .container .box {
  text-align: center;
  padding: 10px 35px;
  display: inline-block;
  vertical-align: middle;
}
/* line 476, ../sass/_main_style.scss */
.footer .container .box:nth-child(1) {
  text-align: right;
}
/* line 480, ../sass/_main_style.scss */
.footer .container .box:nth-child(3) {
  text-align: left;
}
/* line 484, ../sass/_main_style.scss */
.footer .container .box:nth-child(2) {
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
}
/* line 490, ../sass/_main_style.scss */
.footer .container .fb-btn {
  display: inline-block;
  color: #e7bd85;
  border: solid 1px #e7bd85;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  transition: all 0.7s;
  margin-right: 94px;
}
/* line 501, ../sass/_main_style.scss */
.footer .container .fb-btn:hover {
  color: #b28850;
  border-color: #b28850;
}
/* line 508, ../sass/_main_style.scss */
.footer .copyright {
  background-color: #32312e;
  padding: 15px;
  text-align: center;
}

/* line 518, ../sass/_main_style.scss */
.slogan {
  position: absolute;
  top: 35%;
  left: 40%;
  margin-left: -450px;
  opacity: 0;
  transition: opacity 1.5s;
  font-weight: bold;
}
/* line 527, ../sass/_main_style.scss */
.slogan p {
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  font-size: 40px;
  line-height: 1.9em;
  letter-spacing: 2px;
  color: #fff;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  display: block;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  text-orientation: upright;
}

/* line 546, ../sass/_main_style.scss */
.scroll-btn {
  opacity: 0;
  border: solid 1px rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: all 0.7s;
}
/* line 559, ../sass/_main_style.scss */
.scroll-btn i {
  color: #fff;
  font-size: 36px;
  transform: translateY(0px);
  opacity: 0.5;
  transition: all 0.7s;
}
/* line 567, ../sass/_main_style.scss */
.scroll-btn:hover {
  border-color: white;
}
/* line 570, ../sass/_main_style.scss */
.scroll-btn:hover i {
  opacity: 1;
  transform: translateY(3px);
}

/* line 577, ../sass/_main_style.scss */
.index-about-container {
  position: relative;
  overflow: hidden;
  background-image: url(../images/04paper_texture.png);
}
/* line 582, ../sass/_main_style.scss */
.index-about-container .main-box {
  position: relative;
  z-index: 1;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 3s ease;
}
/* line 590, ../sass/_main_style.scss */
.index-about-container img {
  margin: 25px auto;
}
/* line 594, ../sass/_main_style.scss */
.index-about-container h1 {
  color: #8a2b1e;
  margin-top: 45px;
}
/* line 599, ../sass/_main_style.scss */
.index-about-container p {
  font-size: 17px;
}
/* line 603, ../sass/_main_style.scss */
.index-about-container .btn {
  margin-top: 80px;
  margin-bottom: 45px;
}
/* line 608, ../sass/_main_style.scss */
.index-about-container .bg {
  position: absolute;
  opacity: 0;
  transition: all 5s ease-out;
  top: -80%;
  right: -15%;
}
/* line 616, ../sass/_main_style.scss */
.index-about-container .bg:last-child {
  right: auto;
  left: -15%;
  top: -10%;
}
/* line 621, ../sass/_main_style.scss */
.index-about-container .bg:last-child img {
  width: 115%;
}
/* line 626, ../sass/_main_style.scss */
.index-about-container .bg img {
  width: 100%;
}

/* line 633, ../sass/_main_style.scss */
.index-about-animate .main-box {
  transform: translateY(0px);
  opacity: 1;
}
/* line 638, ../sass/_main_style.scss */
.index-about-animate .bg {
  right: 0%;
  top: -87%;
  opacity: 1;
}
/* line 643, ../sass/_main_style.scss */
.index-about-animate .bg:last-child {
  right: auto;
  left: 0%;
  top: 0%;
}

/* line 651, ../sass/_main_style.scss */
.index-product-zone {
  background-image: url(../images/05productpattern.png);
}

/* line 655, ../sass/_main_style.scss */
.index-product-container {
  display: flex;
  padding: 0px;
  max-width: 1440px;
  margin: 0 auto;
  background: none;
}
/* line 663, ../sass/_main_style.scss */
.index-product-container > div {
  padding: 60px 25px;
  width: 50%;
}
/* line 667, ../sass/_main_style.scss */
.index-product-container > div:last-child {
  background-image: url(../images/07productpic.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 675, ../sass/_main_style.scss */
.index-product-container .btn {
  margin-bottom: 45px;
}

/* line 680, ../sass/_main_style.scss */
.index-conceptstore-container {
  background-image: url(../images/08conceptstore.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 25px 160px;
}
/* line 687, ../sass/_main_style.scss */
.index-conceptstore-container h1, .index-conceptstore-container p, .index-conceptstore-container .btn {
  color: #fff;
}
/* line 691, ../sass/_main_style.scss */
.index-conceptstore-container .btn {
  border-color: #fff;
}
/* line 694, ../sass/_main_style.scss */
.index-conceptstore-container .btn i {
  color: #fff;
}
/* line 698, ../sass/_main_style.scss */
.index-conceptstore-container .btn:hover {
  background: #fff;
  color: #8a2b1e;
}
/* line 702, ../sass/_main_style.scss */
.index-conceptstore-container .btn:hover i {
  color: #8a2b1e;
}

/* line 709, ../sass/_main_style.scss */
.about-brand {
  padding-bottom: 65px;
}

/* line 713, ../sass/_main_style.scss */
.about-prouct {
  background-image: url(../images/08product_-patternB.jpg);
  padding: 215px 15px;
  position: relative;
  overflow: hidden;
}
/* line 719, ../sass/_main_style.scss */
.about-prouct .main-box {
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
/* line 725, ../sass/_main_style.scss */
.about-prouct .main-box h1, .about-prouct .main-box p {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  color: #fff;
}
/* line 732, ../sass/_main_style.scss */
.about-prouct .main-box p {
  line-height: 2.5em;
}
/* line 736, ../sass/_main_style.scss */
.about-prouct .main-box hr {
  margin-left: 40px;
}
/* line 741, ../sass/_main_style.scss */
.about-prouct .product {
  position: absolute;
  z-index: 0;
  transform: translateY(0px);
}
/* line 747, ../sass/_main_style.scss */
.about-prouct .item1 {
  top: -15%;
  left: 35%;
}
/* line 752, ../sass/_main_style.scss */
.about-prouct .item2 {
  top: 20%;
  left: -13%;
}
/* line 757, ../sass/_main_style.scss */
.about-prouct .item3 {
  right: -7%;
  bottom: 15%;
}

/* line 763, ../sass/_main_style.scss */
#about-slider {
  position: relative;
}
/* line 765, ../sass/_main_style.scss */
#about-slider .main-box {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  padding-bottom: 310px;
  z-index: 1;
}
/* line 773, ../sass/_main_style.scss */
#about-slider .main-box h1, #about-slider .main-box p, #about-slider .main-box span {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
/* line 779, ../sass/_main_style.scss */
#about-slider .main-box p {
  line-height: 2.5em;
}
/* line 783, ../sass/_main_style.scss */
#about-slider .main-box hr {
  height: 120px;
  width: 1px;
  background: #282726;
  margin-left: 15px;
  margin-top: -15px;
}
/* line 789, ../sass/_main_style.scss */
#about-slider .main-box hr:after, #about-slider .main-box hr:before {
  display: none;
}
/* line 795, ../sass/_main_style.scss */
#about-slider .slider-text {
  position: absolute;
  top: 260px;
  left: 10px;
  display: none;
}
/* line 801, ../sass/_main_style.scss */
#about-slider .slider-text span {
  color: #8a2b1e;
  font-size: 18px;
}
/* line 806, ../sass/_main_style.scss */
#about-slider .slider-text h1 {
  color: #8a2b1e;
  margin-bottom: 35px;
  padding: 0px;
  margin-top: 25px;
}
/* line 814, ../sass/_main_style.scss */
#about-slider .slider-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
}
/* line 827, ../sass/_main_style.scss */
#about-slider #slide1 {
  background-image: url(../images/09redray_AA.jpg);
}
/* line 831, ../sass/_main_style.scss */
#about-slider #slide2 {
  background-image: url(../images/11redray_CC.jpg);
}
/* line 835, ../sass/_main_style.scss */
#about-slider #slide3 {
  background-image: url(../images/10redray_BB.jpg);
}
/* line 839, ../sass/_main_style.scss */
#about-slider #slideDot ul {
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 844, ../sass/_main_style.scss */
#about-slider #slideDot ul li {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 1px #282726;
  border-radius: 100%;
  margin: 15px;
  background: transparent;
  transition: background 0.7s;
  cursor: pointer;
}
/* line 856, ../sass/_main_style.scss */
#about-slider #slideDot ul .active {
  background: #282726;
}

/* line 862, ../sass/_main_style.scss */
.about-video {
  background: url(../images/12benefit_patternB.jpg);
}
/* line 865, ../sass/_main_style.scss */
.about-video h1 {
  color: #fff;
}
/* line 869, ../sass/_main_style.scss */
.about-video .main-box {
  max-width: 800px;
  margin: 0 auto;
}

/* line 875, ../sass/_main_style.scss */
.main-tele {
  display: block;
  color: #b28850;
  font-size: 36px;
}

/* line 882, ../sass/_main_style.scss */
.location-container {
  background: url(../images/08product_-patternB.jpg);
}
/* line 885, ../sass/_main_style.scss */
.location-container .main-box {
  max-width: 900px;
  margin: 0 auto;
}
/* line 890, ../sass/_main_style.scss */
.location-container .maps {
  display: inline-block;
  float: left;
  width: 60%;
  padding: 20px;
  text-align: left;
}
/* line 897, ../sass/_main_style.scss */
.location-container .maps h1 {
  margin: 0;
  position: relative;
  margin-left: 1.3em;
  padding: 0px;
  color: #fff;
  text-align: left;
  margin-bottom: 35px;
}
/* line 906, ../sass/_main_style.scss */
.location-container .maps h1:before {
  position: absolute;
  left: -24px;
  top: 12px;
  content: "";
  background: #8a2b1e;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}
/* line 919, ../sass/_main_style.scss */
.location-container .maps p {
  color: #fff;
  text-align: left;
  padding: 0.25em 10px;
}
/* line 925, ../sass/_main_style.scss */
.location-container .maps .btn {
  color: #fff;
  border-color: #fff;
  margin-left: 15px;
  margin-top: 45px;
}
/* line 931, ../sass/_main_style.scss */
.location-container .maps .btn i {
  color: #fff;
}
/* line 935, ../sass/_main_style.scss */
.location-container .maps .btn:hover {
  color: #8a2b1e;
  background: #fff;
}
/* line 938, ../sass/_main_style.scss */
.location-container .maps .btn:hover i {
  color: #8a2b1e;
}
/* line 944, ../sass/_main_style.scss */
.location-container .maps:nth-child(1), .location-container .maps:nth-child(4) {
  width: 40%;
}
/* line 950, ../sass/_main_style.scss */
.location-container .gm-style .place-card, .location-container .gm-style .default-card, .location-container .gm-style .directions-card {
  display: none !important;
}
/* line 953, ../sass/_main_style.scss */
.location-container .second-hr {
  width: 100%;
  padding-top: 1px;
  max-width: 1440px;
  clear: both;
  margin: 15px auto;
}

/* line 961, ../sass/_main_style.scss */
.concept-slider {
  padding: 55px 15px 115px;
  background-image: url(../images/03_papertexture_background.jpg.png);
}
/* line 964, ../sass/_main_style.scss */
.concept-slider .section-menu {
  padding-bottom: 25px;
}
/* line 966, ../sass/_main_style.scss */
.concept-slider .section-menu:after {
  display: none;
}
/* line 970, ../sass/_main_style.scss */
.concept-slider .main-box {
  margin: auto;
  max-width: 990px;
}
/* line 974, ../sass/_main_style.scss */
.concept-slider .main-box > div {
  position: relative;
  padding-bottom: 70%;
}
/* line 979, ../sass/_main_style.scss */
.concept-slider .main-box .slider {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}
/* line 989, ../sass/_main_style.scss */
.concept-slider .main-box .first-child {
  display: block;
}
/* line 993, ../sass/_main_style.scss */
.concept-slider .main-box .slider-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 1001, ../sass/_main_style.scss */
.concept-slider .main-box .slider-box ul {
  display: flex;
  position: relative;
  left: 0px;
  transition: all 0.7s ease;
}
/* line 1009, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
/* line 1016, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul {
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 1021, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul li {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 1px #fff;
  border-radius: 100%;
  margin: 15px;
  background: transparent;
  transition: background 0.7s;
  cursor: pointer;
}
/* line 1033, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul .active {
  background: #fff;
}
/* line 1040, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn, .concept-slider .main-box .next-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 10;
  cursor: pointer;
}
/* line 1047, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn i, .concept-slider .main-box .next-btn i {
  color: #32312e;
  font-size: 32px;
  line-height: 32px;
}
/* line 1054, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn {
  display: none;
}
/* line 1061, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn {
  left: 0px;
  margin-left: -32px;
}
/* line 1067, ../sass/_main_style.scss */
.concept-slider .main-box .next-btn {
  right: 0px;
  margin-right: -32px;
}

/* line 1074, ../sass/_main_style.scss */
.concept-info {
  background-color: #6d6d6d;
  max-width: none !important;
  position: relative;
  overflow: hidden;
  padding: 115px 25px;
  margin: 0 -15px !important;
}
/* line 1082, ../sass/_main_style.scss */
.concept-info .concept-bg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  transform-origin: center;
  margin-top: -15%;
  opacity: 0.5;
  transition: all 15s ease;
}
/* line 1091, ../sass/_main_style.scss */
.concept-info .concept-bg img {
  width: 100%;
}
/* line 1096, ../sass/_main_style.scss */
.concept-info .animated {
  margin-top: 0%;
  opacity: 1;
}
/* line 1101, ../sass/_main_style.scss */
.concept-info .main-box {
  position: relative;
  z-index: 1;
}
/* line 1106, ../sass/_main_style.scss */
.concept-info h1, .concept-info p {
  color: #fff;
}

/* line 1110, ../sass/_main_style.scss */
.product-container {
  background: url(../images/backgroundtexture.jpg);
}
/* line 1113, ../sass/_main_style.scss */
.product-container .product-header {
  background-image: url(../images/backgroundKV1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 75px;
  font-size: 40px;
  margin: auto -25px;
  font-weight: bold;
}
/* line 1124, ../sass/_main_style.scss */
.product-container .section-menu:after {
  margin-bottom: -10px;
}
/* line 1128, ../sass/_main_style.scss */
.product-container .sec-2 {
  background-image: url(../images/16_KVcategorytwo.png);
}
/* line 1132, ../sass/_main_style.scss */
.product-container .second-hr {
  max-width: 330px;
}
/* line 1136, ../sass/_main_style.scss */
.product-container .img-box {
  min-height: 160px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
/* line 1141, ../sass/_main_style.scss */
.product-container .img-box:after {
  content: "";
  display: inline-block;
  height: 160px;
  vertical-align: middle;
}
/* line 1149, ../sass/_main_style.scss */
.product-container .group {
  max-width: 800px;
  margin: 45px auto 0;
}
/* line 1154, ../sass/_main_style.scss */
.product-container .main-box {
  width: 50%;
  float: left;
  padding: 25px;
}
/* line 1159, ../sass/_main_style.scss */
.product-container .main-box img {
  vertical-align: middle;
  display: inline-block;
}
/* line 1164, ../sass/_main_style.scss */
.product-container .main-box p {
  text-align: left;
  min-height: 75px;
}
/* line 1169, ../sass/_main_style.scss */
.product-container .main-box .btn {
  width: 90%;
  margin-top: 45px;
}

/* line 1176, ../sass/_main_style.scss */
.product-inner {
  background-image: url(../images/backgroundtexture.jpg);
}
/* line 1179, ../sass/_main_style.scss */
.product-inner .main-box {
  display: flex;
  max-width: 950px;
  margin: auto;
}
/* line 1183, ../sass/_main_style.scss */
.product-inner .main-box > div {
  width: 50%;
  text-align: left;
}
/* line 1190, ../sass/_main_style.scss */
.product-inner .main-box p {
  padding: 15px 0;
}
/* line 1194, ../sass/_main_style.scss */
.product-inner .main-box h1 {
  padding: 25px 0px;
}
/* line 1199, ../sass/_main_style.scss */
.product-inner .detail-box {
  padding: 15px 25px;
}
/* line 1202, ../sass/_main_style.scss */
.product-inner .detail-box .title {
  padding-bottom: 5px;
  border-bottom: solid 1px #282726;
  display: table;
}
/* line 1209, ../sass/_main_style.scss */
.product-inner .detail-box a {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: solid 2px #8a2b1e;
  color: #8a2b1e;
}
/* line 1217, ../sass/_main_style.scss */
.product-inner .detail-box ul li {
  font-size: 18px;
  line-height: 1.35em;
  padding: 10px 0;
  margin-left: 1.5em;
  position: relative;
}
/* line 1223, ../sass/_main_style.scss */
.product-inner .detail-box ul li:before {
  content: "";
  position: absolute;
  background: #8a2b1e;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  left: -1.25em;
  top: 1em;
}
/* line 1236, ../sass/_main_style.scss */
.product-inner .detail-box table {
  margin: 25px 0;
  width: 100%;
  padding: 10px 25px;
  background: rgba(126, 126, 126, 0.3);
  display: block;
}
/* line 1243, ../sass/_main_style.scss */
.product-inner .detail-box table tr {
  border-bottom: dotted 1px #282726;
  width: 100%;
  display: inline-block;
}
/* line 1249, ../sass/_main_style.scss */
.product-inner .detail-box table tr:last-child {
  border-bottom: none;
}
/* line 1254, ../sass/_main_style.scss */
.product-inner .detail-box table td {
  padding: 15px 0;
  font-size: 18px;
  display: inline-block;
}
/* line 1259, ../sass/_main_style.scss */
.product-inner .detail-box table td:first-child {
  width: 30%;
}
/* line 1269, ../sass/_main_style.scss */
.product-inner .img-box {
  padding: 25px 0px 25px 60px;
}
/* line 1272, ../sass/_main_style.scss */
.product-inner .img-box img {
  width: 100%;
  border: solid 1px #ccc;
}
/* line 1277, ../sass/_main_style.scss */
.product-inner .img-box ul {
  padding: 15px 0;
  margin: 0 -8px;
}
/* line 1281, ../sass/_main_style.scss */
.product-inner .img-box ul li {
  float: right;
  width: 25%;
  padding: 8px;
  cursor: pointer;
}

/* line 1291, ../sass/_main_style.scss */
.report-box {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding-top: 15vh;
  display: none;
}
/* line 1303, ../sass/_main_style.scss */
.report-box div {
  display: inline-block;
  position: relative;
  max-width: 600px;
  max-width: 85%;
}
/* line 1310, ../sass/_main_style.scss */
.report-box img {
  width: 100%;
}
/* line 1315, ../sass/_main_style.scss */
.report-box .remove-btn {
  position: absolute;
  top: -17.5px;
  right: -17.5px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background: black;
  border-radius: 100%;
  cursor: pointer;
}

/* line 3, ../sass/_media.scss */
.no-opacity {
  opacity: 1;
}

@media (min-width: 1600px) {
  /* line 10, ../sass/_media.scss */
  .about-wrapper .header {
    background-image: url(../images/13_kvbackground.jpg);
    background-size: 100%;
  }

  /* line 16, ../sass/_media.scss */
  .concept-wrapper .header {
    background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
    background-size: 100%;
  }

  /* line 24, ../sass/_media.scss */
  .product-wrapper .header {
    background-image: url(../images/00_productKV.jpg);
    background-size: 100%;
    background-position: center 30%;
  }
}
@media (min-width: 777px) {
  /* line 33, ../sass/_media.scss */
  .visible-xs {
    display: none;
  }

  /* line 37, ../sass/_media.scss */
  .hidden-xs {
    display: block;
  }
}
@media (max-width: 776px) {
  /* line 46, ../sass/_media.scss */
  .main-container h1 {
    padding: 15px;
    font-size: 30px;
    letter-spacing: 0.5px;
  }
  /* line 52, ../sass/_media.scss */
  .main-container p {
    font-size: 18px;
  }

  /* line 57, ../sass/_media.scss */
  #slide1 {
    background-image: url(../images/09redray_A.jpg);
  }

  /* line 61, ../sass/_media.scss */
  #slide2 {
    background-image: url(../images/11redray_C.jpg);
  }

  /* line 65, ../sass/_media.scss */
  #slide3 {
    background-image: url(../images/10redray_B.jpg);
  }

  /* line 75, ../sass/_media.scss */
  .main-container h1 + hr {
    margin-top: 15px;
  }

  /* line 82, ../sass/_media.scss */
  .header .nav-zone:first-child {
    display: none;
  }
  /* line 87, ../sass/_media.scss */
  .header .fixed-nav {
    display: block;
    opacity: 0;
    transition: all 0.7s;
  }
  /* line 92, ../sass/_media.scss */
  .header .fixed-nav .logo-box {
    width: 70px;
  }
  /* line 96, ../sass/_media.scss */
  .header .fixed-nav ul {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #403e3a;
    top: 50px;
    left: 0px;
    padding: 25px;
    z-index: 5;
  }
  /* line 107, ../sass/_media.scss */
  .header .fixed-nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
  }
  /* line 114, ../sass/_media.scss */
  .header .fixed-nav ul .contact-btn {
    padding: 15px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 45px;
  }
  /* line 123, ../sass/_media.scss */
  .header .header-bg {
    background-position: bottom center;
    background-size: 110%;
    background-image: url(../images/KV02-mobile.png);
  }
  /* line 129, ../sass/_media.scss */
  .header .slogan {
    top: 58%;
    left: 60%;
    margin: 0;
  }
  /* line 134, ../sass/_media.scss */
  .header .slogan p {
    font-size: 21px;
  }

  /* line 141, ../sass/_media.scss */
  .fixed-nav {
    padding: 10px 15px;
  }

  /* line 145, ../sass/_media.scss */
  .hidden-xs {
    display: none;
  }

  /* line 149, ../sass/_media.scss */
  .visible-xs {
    display: block;
  }

  /* line 156, ../sass/_media.scss */
  .index-product-container {
    display: block;
  }
  /* line 160, ../sass/_media.scss */
  .index-product-container > div {
    padding: 0px;
    width: 100%;
  }
  /* line 165, ../sass/_media.scss */
  .index-product-container h1 {
    padding: 65px 25px 25px;
  }
  /* line 169, ../sass/_media.scss */
  .index-product-container p {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* line 175, ../sass/_media.scss */
  .index-conceptstore-container {
    background-size: auto 100%;
  }

  /* line 180, ../sass/_media.scss */
  .about-wrapper .header, .contact-wrapper .header {
    background-image: url(../images/13_kvbackground.jpg);
    background-size: auto 100%;
    margin-top: 49px;
    padding: 15px 15px;
  }
  /* line 186, ../sass/_media.scss */
  .about-wrapper .header h1, .contact-wrapper .header h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  /* line 194, ../sass/_media.scss */
  .contact-wrapper .header {
    background-image: url(../images/01_KV%20Scenario-mobile.jpg);
  }

  /* line 200, ../sass/_media.scss */
  .concept-wrapper .header {
    background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
    background-size: 100%;
  }

  /* line 208, ../sass/_media.scss */
  .footer .container .box {
    font-size: 14px;
    text-align: center !important;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  /* line 216, ../sass/_media.scss */
  .footer .container .box a {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: serif !important;
  }
  /* line 224, ../sass/_media.scss */
  .footer .container .box:nth-child(2) {
    border: none;
  }
  /* line 229, ../sass/_media.scss */
  .footer .container .fb-btn {
    margin-right: 0px;
  }

  /* line 236, ../sass/_media.scss */
  .copyright p {
    letter-spacing: 0px;
    font-size: 12px;
  }

  /* line 243, ../sass/_media.scss */
  .about-prouct {
    padding: 80px 20px;
  }
  /* line 248, ../sass/_media.scss */
  .about-prouct .main-box h1, .about-prouct .main-box p {
    text-align: center;
  }
  /* line 252, ../sass/_media.scss */
  .about-prouct .main-box p {
    line-height: 1.55em;
  }
  /* line 256, ../sass/_media.scss */
  .about-prouct .main-box hr {
    margin: 20px auto;
  }
  /* line 262, ../sass/_media.scss */
  .about-prouct .product img {
    width: 100%;
  }
  /* line 267, ../sass/_media.scss */
  .about-prouct .item1 {
    top: -70px;
    left: 0%;
    width: 250px;
  }
  /* line 273, ../sass/_media.scss */
  .about-prouct .item2 {
    top: 10%;
    left: -90px;
    width: 180px;
  }
  /* line 279, ../sass/_media.scss */
  .about-prouct .item3 {
    width: 230px;
    right: -45px;
    bottom: 35px;
  }

  /* line 286, ../sass/_media.scss */
  .about-brand {
    padding-bottom: 0px;
  }
  /* line 289, ../sass/_media.scss */
  .about-brand span {
    display: none;
  }

  /* line 295, ../sass/_media.scss */
  #about-slider {
    padding: 45px 25px;
  }
  /* line 299, ../sass/_media.scss */
  #about-slider .main-box {
    padding-bottom: 305px;
    text-align: center;
  }
  /* line 303, ../sass/_media.scss */
  #about-slider .main-box h1, #about-slider .main-box p, #about-slider .main-box span {
    text-align: center;
  }
  /* line 307, ../sass/_media.scss */
  #about-slider .main-box p {
    line-height: 1.55em;
  }
  /* line 311, ../sass/_media.scss */
  #about-slider .main-box hr {
    height: 45px;
    margin: 0 auto 15px;
  }
  /* line 317, ../sass/_media.scss */
  #about-slider .slider-text {
    position: absolute;
    top: 140px;
    left: 0px;
    display: none;
  }
  /* line 323, ../sass/_media.scss */
  #about-slider .slider-text span {
    font-size: 30px;
  }
  /* line 327, ../sass/_media.scss */
  #about-slider .slider-text h1 {
    color: #8a2b1e;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  /* line 334, ../sass/_media.scss */
  #about-slider .slider-bg {
    background-size: auto 100%;
  }

  /* line 341, ../sass/_media.scss */
  .video-responsive {
    margin-bottom: 0px;
  }

  /* line 345, ../sass/_media.scss */
  .about-video {
    padding: 25px 15px 35px;
  }

  /* line 349, ../sass/_media.scss */
  .main-tele {
    font-family: serif !important;
  }
  /* line 352, ../sass/_media.scss */
  .main-tele p {
    font-size: 30px;
  }

  /* line 358, ../sass/_media.scss */
  .location-container .embed-responsive {
    display: none !important;
  }
  /* line 361, ../sass/_media.scss */
  .location-container .maps {
    padding: 0px;
    width: 100% !important;
  }
  /* line 365, ../sass/_media.scss */
  .location-container .maps .btn {
    margin: 45px auto 0;
    display: table;
  }

  /* line 372, ../sass/_media.scss */
  .concept-slider {
    padding: 45px 0 0;
  }

  /* line 376, ../sass/_media.scss */
  .concept-info {
    margin: 0 !important;
  }

  /* line 381, ../sass/_media.scss */
  .concept-slider .main-box .next-btn {
    margin: 0;
    right: 10px;
  }
  /* line 386, ../sass/_media.scss */
  .concept-slider .main-box .pre-btn {
    margin: 0;
    left: 10px;
  }

  /* line 392, ../sass/_media.scss */
  .concept-slider .section-menu {
    display: block;
    padding-bottom: 15px;
  }

  /* line 398, ../sass/_media.scss */
  .product-wrapper .header {
    background-image: url(../images/00_productKV.jpg);
    background-size: auto 100%;
    background-position: center;
  }

  /* line 405, ../sass/_media.scss */
  .product-container {
    padding: 0px 15px !important;
  }
  /* line 409, ../sass/_media.scss */
  .product-container .product-header {
    margin: 0 -15px;
    padding: 45px;
    font-size: 30px;
    background-size: 100%;
  }
  /* line 416, ../sass/_media.scss */
  .product-container .sec-2 {
    background-image: url(../images/backgroundKV2.jpg);
  }
  /* line 420, ../sass/_media.scss */
  .product-container .second-hr {
    max-width: 90%;
  }
  /* line 424, ../sass/_media.scss */
  .product-container .main-box {
    padding: 0;
    margin-bottom: 60px;
    width: 100%;
    float: none;
  }
  /* line 430, ../sass/_media.scss */
  .product-container .main-box hr {
    margin-top: 0px;
  }
  /* line 436, ../sass/_media.scss */
  .product-container .main-box img {
    max-width: 100%;
  }
  /* line 440, ../sass/_media.scss */
  .product-container .main-box .img-box {
    height: 160px;
  }
  /* line 444, ../sass/_media.scss */
  .product-container .main-box .btn {
    margin-top: 15px;
    width: 90%;
  }
  /* line 450, ../sass/_media.scss */
  .product-container .second-hr {
    margin-top: 5px;
  }
  /* line 453, ../sass/_media.scss */
  .product-container .second-hr:after {
    margin-top: 5px;
  }

  /* line 459, ../sass/_media.scss */
  .product-inner {
    padding: 25px;
  }
  /* line 463, ../sass/_media.scss */
  .product-inner .main-box {
    display: block;
  }
  /* line 467, ../sass/_media.scss */
  .product-inner .main-box .detail-box {
    padding: 0px;
  }
  /* line 470, ../sass/_media.scss */
  .product-inner .main-box .detail-box table {
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  /* line 473, ../sass/_media.scss */
  .product-inner .main-box .detail-box table tr {
    padding: 15px 0;
  }
  /* line 476, ../sass/_media.scss */
  .product-inner .main-box .detail-box table td {
    width: 100%;
    padding: 7.5px;
  }
  /* line 480, ../sass/_media.scss */
  .product-inner .main-box .detail-box table td:first-child {
    font-weight: bold;
  }
  /* line 487, ../sass/_media.scss */
  .product-inner .main-box .img-box {
    padding: 15px 0px;
    margin: 0 -25px;
    display: block;
    width: auto;
    position: relative;
    overflow: hidden;
  }
  /* line 495, ../sass/_media.scss */
  .product-inner .main-box .img-box .main-img {
    display: none;
  }
  /* line 499, ../sass/_media.scss */
  .product-inner .main-box .img-box > ul {
    margin: 0px;
    display: flex;
    position: relative;
    padding: 0px;
    left: 0px;
    transition: left 0.7s ease;
  }
  /* line 507, ../sass/_media.scss */
  .product-inner .main-box .img-box > ul li {
    float: none;
    padding: 0px;
    width: 100%;
  }
  /* line 511, ../sass/_media.scss */
  .product-inner .main-box .img-box > ul li img {
    width: 100%;
  }
  /* line 517, ../sass/_media.scss */
  .product-inner .main-box .img-box .slider-dot {
    position: absolute;
    width: 100%;
    bottom: 35px;
    text-align: center;
  }
  /* line 523, ../sass/_media.scss */
  .product-inner .main-box .img-box .slider-dot ul {
    position: relative;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
  }
  /* line 531, ../sass/_media.scss */
  .product-inner .main-box .img-box .slider-dot li {
    float: none;
    padding: 0;
    border: solid 1px #282726;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 100%;
    transition: all 0.7s;
  }
  /* line 543, ../sass/_media.scss */
  .product-inner .main-box .img-box .slider-dot .active {
    background: #282726;
  }
  /* line 550, ../sass/_media.scss */
  .product-inner .main-box > div {
    width: 100%;
  }
}
