/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/_main_style.scss */
* {
  box-sizing: border-box;
}

/* line 17, ../sass/_main_style.scss */
h1 {
  font-weight: bold;
  line-height: 1.35em;
}

/* line 23, ../sass/_main_style.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 28, ../sass/_main_style.scss */
body {
  display: none;
  font-family: Hoefler Text,Songti TC,serif;
  -webkit-font-smoothing: antialiased;
}

/* line 34, ../sass/_main_style.scss */
p {
  line-height: 1.55em;
  letter-spacing: 0.5px;
}

/* line 40, ../sass/_main_style.scss */
.video-responsive {
  position: relative;
  padding-bottom: 55.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 50, ../sass/_main_style.scss */
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 60, ../sass/_main_style.scss */
.embed-responsive {
  margin: 0 auto;
  text-align: center;
}

/* line 65, ../sass/_main_style.scss */
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed,
.embed-responsive twitterwidget {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

/* line 75, ../sass/_main_style.scss */
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* line 82, ../sass/_main_style.scss */
.section-menu {
  text-align: center;
  margin-top: -30px;
}
/* line 85, ../sass/_main_style.scss */
.section-menu li {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 25px;
  border-right: solid 1px rgba(0, 0, 0, 0.5);
}
/* line 92, ../sass/_main_style.scss */
.section-menu li:hover {
  color: #8a2b1e;
}
/* line 96, ../sass/_main_style.scss */
.section-menu li:last-child {
  border-right: none;
}
/* line 102, ../sass/_main_style.scss */
.section-menu:after {
  content: "";
  width: 100%;
  max-width: 1600px;
  height: 5px;
  background-image: url(../images/04subnav_line.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 25px auto 55px;
}

/* line 115, ../sass/_main_style.scss */
.main-container {
  text-align: center;
  padding: 60px 25px;
  background-color: #dedddc;
}
/* line 120, ../sass/_main_style.scss */
.main-container h1 {
  font-weight: bold;
  font-size: 28px;
  padding: 1.5em;
  color: #282726;
}
/* line 127, ../sass/_main_style.scss */
.main-container h1 + hr {
  margin-top: -15px;
}
/* line 131, ../sass/_main_style.scss */
.main-container hr {
  display: table;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #8a2b1e;
  border: none;
  margin: 20px auto;
}
/* line 141, ../sass/_main_style.scss */
.main-container hr:after, .main-container hr:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #8a2b1e;
}
/* line 152, ../sass/_main_style.scss */
.main-container hr:before {
  left: auto;
  right: -35px;
}
/* line 159, ../sass/_main_style.scss */
.main-container p {
  padding: 0.55em;
  font-size: 18px;
  color: #282726;
}
/* line 165, ../sass/_main_style.scss */
.main-container .btn {
  margin-top: 60px;
  border: solid 1px #8a2b1e;
  color: #8a2b1e;
  display: inline-block;
  padding: 12px 60px;
  cursor: pointer;
  transition: all 0.7s;
}
/* line 174, ../sass/_main_style.scss */
.main-container .btn:hover {
  background: #8a2b1e;
  color: #fff;
}
/* line 179, ../sass/_main_style.scss */
.main-container .btn:hover i {
  transform: translate(3px, 1px);
  color: #fff;
}
/* line 185, ../sass/_main_style.scss */
.main-container .btn i {
  color: #8a2b1e;
  font-size: 18px;
  line-height: 14px;
  margin-left: 5px;
  transform: translate(0px, 1px);
  transition: all 0.7s;
}
/* line 197, ../sass/_main_style.scss */
.main-container .second-hr {
  border: none;
  max-width: 300px;
  margin: 25px auto;
}
/* line 202, ../sass/_main_style.scss */
.main-container .second-hr:after {
  content: "";
  width: 100%;
  max-width: 1600px;
  height: 5px;
  background-image: url(../images/04subnav_line.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 25px auto;
}

/* line 222, ../sass/_main_style.scss */
.kv-zone h1 {
  text-align: center;
  font-size: 50px;
  color: #282726;
  padding: 60px 25px;
}

/* line 232, ../sass/_main_style.scss */
.about-wrapper .header, .contact-wrapper .header {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 25px 60px;
  background-image: url(../images/13_kvbackgroundB.jpg);
}

/* line 242, ../sass/_main_style.scss */
.contact-wrapper .header {
  background-image: url(../images/01_KV%20Scenario.jpg);
  background-position: center 20%;
}
/* line 246, ../sass/_main_style.scss */
.contact-wrapper .header h1 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 254, ../sass/_main_style.scss */
.concept-wrapper .header {
  background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
}
/* line 256, ../sass/_main_style.scss */
.concept-wrapper .header h1 {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* line 266, ../sass/_main_style.scss */
.index-wrapper .header {
  min-height: 100vh;
}
/* line 270, ../sass/_main_style.scss */
.index-wrapper .nav-zone:first-child {
  opacity: 0;
}

/* line 275, ../sass/_main_style.scss */
.header {
  background-color: #fff;
}
/* line 278, ../sass/_main_style.scss */
.header .header-bg {
  opacity: 0;
  transition: opacity 1.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-image: url(../images/KV02.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* line 295, ../sass/_main_style.scss */
.nav-zone {
  padding: 0 35px;
  position: relative;
  z-index: 100;
}
/* line 300, ../sass/_main_style.scss */
.nav-zone:first-child {
  transition: opacity 1.5s;
}
/* line 304, ../sass/_main_style.scss */
.nav-zone .logo-box {
  float: left;
  width: 220px;
}
/* line 308, ../sass/_main_style.scss */
.nav-zone .logo-box img {
  width: 100%;
}
/* line 312, ../sass/_main_style.scss */
.nav-zone .logo-box .fixed-logo {
  display: none;
}
/* line 317, ../sass/_main_style.scss */
.nav-zone .navi-box {
  float: right;
}
/* line 319, ../sass/_main_style.scss */
.nav-zone .navi-box ul {
  padding: 50px 0;
}
/* line 322, ../sass/_main_style.scss */
.nav-zone .navi-box ul li {
  display: inline-block;
  padding: 10px 15px;
  font-size: 17px;
}
/* line 328, ../sass/_main_style.scss */
.nav-zone .navi-box ul a {
  color: #fff;
  transition: all 0.7s;
}
/* line 332, ../sass/_main_style.scss */
.nav-zone .navi-box ul a:hover {
  color: #b28850;
}
/* line 338, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn {
  background: #b28850;
  margin: 0px 20px;
  transition: all 0.7s;
  color: #eee;
}
/* line 345, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn:hover {
  background: #9e6821;
  color: #fff;
}
/* line 350, ../sass/_main_style.scss */
.nav-zone .navi-box .contact-btn i {
  margin-right: 5px;
}
/* line 356, ../sass/_main_style.scss */
.nav-zone .menu-btn {
  cursor: pointer;
  position: relative;
  padding: 5px;
}
/* line 360, ../sass/_main_style.scss */
.nav-zone .menu-btn i {
  color: #fff;
  font-size: 19px;
}
/* line 365, ../sass/_main_style.scss */
.nav-zone .menu-btn .fa-remove {
  position: absolute;
  background: #32312e;
  padding: 5px;
  top: 0px;
  left: 0px;
  transform: rotate(45deg);
  transform-origin: center;
  opacity: 0;
  transition: all 0.7s ease;
}
/* line 379, ../sass/_main_style.scss */
.nav-zone .menu-active .fa-remove {
  transform: rotate(0deg);
  opacity: 1;
}
/* line 385, ../sass/_main_style.scss */
.nav-zone .social-btns {
  text-align: center;
}
/* line 387, ../sass/_main_style.scss */
.nav-zone .social-btns a {
  display: inline-block;
  border: solid 1px #b28850;
  color: #b28850;
  margin: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
/* line 397, ../sass/_main_style.scss */
.nav-zone .social-btns a i {
  color: #b28850;
}

/* line 404, ../sass/_main_style.scss */
.fixed-nav {
  display: none;
  position: fixed;
  background: #32312e;
  width: 100%;
  padding: 15px 25px;
  top: 0px;
  left: 0px;
}
/* line 412, ../sass/_main_style.scss */
.fixed-nav .logo-box {
  max-width: 110px;
}
/* line 414, ../sass/_main_style.scss */
.fixed-nav .logo-box img {
  display: none;
}
/* line 418, ../sass/_main_style.scss */
.fixed-nav .logo-box .fixed-logo {
  display: block;
}
/* line 423, ../sass/_main_style.scss */
.fixed-nav .navi-box ul {
  padding: 5px 0;
}
/* line 427, ../sass/_main_style.scss */
.fixed-nav .navi-box .contact-btn {
  margin-right: 0px;
  margin-left: 10px;
}

/* line 437, ../sass/_main_style.scss */
.footer {
  color: #fff;
}
/* line 440, ../sass/_main_style.scss */
.footer .footer-zone {
  background-image: url(../images/10footertexture.jpg);
  background-repeat: repeat;
  padding: 35px;
}
/* line 447, ../sass/_main_style.scss */
.footer .container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
/* line 453, ../sass/_main_style.scss */
.footer .container .box {
  text-align: center;
  padding: 10px 35px;
  display: inline-block;
  vertical-align: middle;
}
/* line 459, ../sass/_main_style.scss */
.footer .container .box:nth-child(1) {
  text-align: right;
}
/* line 463, ../sass/_main_style.scss */
.footer .container .box:nth-child(3) {
  text-align: left;
}
/* line 467, ../sass/_main_style.scss */
.footer .container .box:nth-child(2) {
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
}
/* line 473, ../sass/_main_style.scss */
.footer .container .fb-btn {
  display: inline-block;
  color: #e7bd85;
  border: solid 1px #e7bd85;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  transition: all 0.7s;
  margin-right: 94px;
}
/* line 484, ../sass/_main_style.scss */
.footer .container .fb-btn:hover {
  color: #b28850;
  border-color: #b28850;
}
/* line 491, ../sass/_main_style.scss */
.footer .copyright {
  background-color: #32312e;
  padding: 15px;
  text-align: center;
}

/* line 501, ../sass/_main_style.scss */
.slogan {
  position: absolute;
  top: 35%;
  left: 40%;
  margin-left: -450px;
  opacity: 0;
  transition: opacity 1.5s;
  font-weight: bold;
}
/* line 510, ../sass/_main_style.scss */
.slogan p {
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
  font-size: 40px;
  line-height: 1.9em;
  letter-spacing: 2px;
  color: #fff;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  display: block;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  text-orientation: upright;
}

/* line 529, ../sass/_main_style.scss */
.scroll-btn {
  opacity: 0;
  border: solid 1px rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: all 0.7s;
}
/* line 542, ../sass/_main_style.scss */
.scroll-btn i {
  color: #fff;
  font-size: 36px;
  transform: translateY(0px);
  opacity: 0.5;
  transition: all 0.7s;
}
/* line 550, ../sass/_main_style.scss */
.scroll-btn:hover {
  border-color: white;
}
/* line 553, ../sass/_main_style.scss */
.scroll-btn:hover i {
  opacity: 1;
  transform: translateY(3px);
}

/* line 560, ../sass/_main_style.scss */
.index-about-container {
  position: relative;
  overflow: hidden;
  background-image: url(../images/04paper_texture.png);
}
/* line 565, ../sass/_main_style.scss */
.index-about-container .main-box {
  position: relative;
  z-index: 1;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 3s ease;
}
/* line 573, ../sass/_main_style.scss */
.index-about-container img {
  margin: 25px auto;
}
/* line 577, ../sass/_main_style.scss */
.index-about-container h1 {
  color: #8a2b1e;
  margin-top: 45px;
}
/* line 582, ../sass/_main_style.scss */
.index-about-container p {
  font-size: 17px;
}
/* line 586, ../sass/_main_style.scss */
.index-about-container .btn {
  margin-top: 80px;
  margin-bottom: 45px;
}
/* line 591, ../sass/_main_style.scss */
.index-about-container .bg {
  position: absolute;
  opacity: 0;
  transition: all 5s ease-out;
  top: -80%;
  right: -15%;
}
/* line 599, ../sass/_main_style.scss */
.index-about-container .bg:last-child {
  right: auto;
  left: -15%;
  top: -10%;
}
/* line 604, ../sass/_main_style.scss */
.index-about-container .bg:last-child img {
  width: 115%;
}
/* line 609, ../sass/_main_style.scss */
.index-about-container .bg img {
  width: 100%;
}

/* line 616, ../sass/_main_style.scss */
.index-about-animate .main-box {
  transform: translateY(0px);
  opacity: 1;
}
/* line 621, ../sass/_main_style.scss */
.index-about-animate .bg {
  right: 0%;
  top: -87%;
  opacity: 1;
}
/* line 626, ../sass/_main_style.scss */
.index-about-animate .bg:last-child {
  right: auto;
  left: 0%;
  top: 0%;
}

/* line 634, ../sass/_main_style.scss */
.index-product-zone {
  background-image: url(../images/05productpattern.png);
}

/* line 638, ../sass/_main_style.scss */
.index-product-container {
  display: flex;
  padding: 0px;
  max-width: 1440px;
  margin: 0 auto;
  background: none;
}
/* line 646, ../sass/_main_style.scss */
.index-product-container > div {
  padding: 60px 25px;
  width: 50%;
}
/* line 650, ../sass/_main_style.scss */
.index-product-container > div:last-child {
  background-image: url(../images/07productpic.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 658, ../sass/_main_style.scss */
.index-product-container .btn {
  margin-bottom: 45px;
}

/* line 663, ../sass/_main_style.scss */
.index-conceptstore-container {
  background-image: url(../images/08conceptstore.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 25px 160px;
}
/* line 670, ../sass/_main_style.scss */
.index-conceptstore-container h1, .index-conceptstore-container p, .index-conceptstore-container .btn {
  color: #fff;
}
/* line 674, ../sass/_main_style.scss */
.index-conceptstore-container .btn {
  border-color: #fff;
}
/* line 677, ../sass/_main_style.scss */
.index-conceptstore-container .btn i {
  color: #fff;
}
/* line 681, ../sass/_main_style.scss */
.index-conceptstore-container .btn:hover {
  background: #fff;
  color: #8a2b1e;
}
/* line 685, ../sass/_main_style.scss */
.index-conceptstore-container .btn:hover i {
  color: #8a2b1e;
}

/* line 692, ../sass/_main_style.scss */
.about-brand {
  padding-bottom: 65px;
}

/* line 696, ../sass/_main_style.scss */
.about-prouct {
  background-image: url(../images/08product_-patternB.jpg);
  padding: 215px 15px;
  position: relative;
  overflow: hidden;
}
/* line 702, ../sass/_main_style.scss */
.about-prouct .main-box {
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
/* line 708, ../sass/_main_style.scss */
.about-prouct .main-box h1, .about-prouct .main-box p {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  color: #fff;
}
/* line 715, ../sass/_main_style.scss */
.about-prouct .main-box p {
  line-height: 2.5em;
}
/* line 719, ../sass/_main_style.scss */
.about-prouct .main-box hr {
  margin-left: 40px;
}
/* line 724, ../sass/_main_style.scss */
.about-prouct .product {
  position: absolute;
  z-index: 0;
  transform: translateY(0px);
}
/* line 730, ../sass/_main_style.scss */
.about-prouct .item1 {
  top: -15%;
  left: 35%;
}
/* line 735, ../sass/_main_style.scss */
.about-prouct .item2 {
  top: 20%;
  left: -13%;
}
/* line 740, ../sass/_main_style.scss */
.about-prouct .item3 {
  right: -7%;
  bottom: 15%;
}

/* line 746, ../sass/_main_style.scss */
#about-slider {
  position: relative;
}
/* line 748, ../sass/_main_style.scss */
#about-slider .main-box {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  padding-bottom: 310px;
  z-index: 1;
}
/* line 756, ../sass/_main_style.scss */
#about-slider .main-box h1, #about-slider .main-box p, #about-slider .main-box span {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
/* line 762, ../sass/_main_style.scss */
#about-slider .main-box p {
  line-height: 2.5em;
}
/* line 766, ../sass/_main_style.scss */
#about-slider .main-box hr {
  height: 120px;
  width: 1px;
  background: #282726;
  margin-left: 15px;
  margin-top: -15px;
}
/* line 772, ../sass/_main_style.scss */
#about-slider .main-box hr:after, #about-slider .main-box hr:before {
  display: none;
}
/* line 778, ../sass/_main_style.scss */
#about-slider .slider-text {
  position: absolute;
  top: 260px;
  left: 10px;
  display: none;
}
/* line 784, ../sass/_main_style.scss */
#about-slider .slider-text span {
  color: #8a2b1e;
  font-size: 18px;
}
/* line 789, ../sass/_main_style.scss */
#about-slider .slider-text h1 {
  color: #8a2b1e;
  margin-bottom: 35px;
  padding: 0px;
  margin-top: 25px;
}
/* line 797, ../sass/_main_style.scss */
#about-slider .slider-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: none;
}
/* line 810, ../sass/_main_style.scss */
#about-slider #slide1 {
  background-image: url(../images/09redray_AA.jpg);
}
/* line 814, ../sass/_main_style.scss */
#about-slider #slide2 {
  background-image: url(../images/11redray_CC.jpg);
}
/* line 818, ../sass/_main_style.scss */
#about-slider #slide3 {
  background-image: url(../images/10redray_BB.jpg);
}
/* line 822, ../sass/_main_style.scss */
#about-slider #slideDot ul {
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 827, ../sass/_main_style.scss */
#about-slider #slideDot ul li {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 1px #282726;
  border-radius: 100%;
  margin: 15px;
  background: transparent;
  transition: background 0.7s;
  cursor: pointer;
}
/* line 839, ../sass/_main_style.scss */
#about-slider #slideDot ul .active {
  background: #282726;
}

/* line 845, ../sass/_main_style.scss */
.about-video {
  background: url(../images/12benefit_patternB.jpg);
}
/* line 848, ../sass/_main_style.scss */
.about-video h1 {
  color: #fff;
}
/* line 852, ../sass/_main_style.scss */
.about-video .main-box {
  max-width: 800px;
  margin: 0 auto;
}

/* line 858, ../sass/_main_style.scss */
.main-tele {
  display: block;
  color: #b28850;
  font-size: 36px;
}

/* line 865, ../sass/_main_style.scss */
.location-container {
  background: url(../images/08product_-patternB.jpg);
}
/* line 868, ../sass/_main_style.scss */
.location-container .main-box {
  max-width: 900px;
  margin: 0 auto;
}
/* line 873, ../sass/_main_style.scss */
.location-container .maps {
  display: inline-block;
  float: left;
  width: 60%;
  padding: 20px;
  text-align: left;
}
/* line 880, ../sass/_main_style.scss */
.location-container .maps h1 {
  margin: 0;
  position: relative;
  margin-left: 1.3em;
  padding: 0px;
  color: #fff;
  text-align: left;
  margin-bottom: 35px;
}
/* line 889, ../sass/_main_style.scss */
.location-container .maps h1:before {
  position: absolute;
  left: -24px;
  top: 12px;
  content: "";
  background: #8a2b1e;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}
/* line 902, ../sass/_main_style.scss */
.location-container .maps p {
  color: #fff;
  text-align: left;
  padding: 0.25em 10px;
}
/* line 908, ../sass/_main_style.scss */
.location-container .maps .btn {
  color: #fff;
  border-color: #fff;
  margin-left: 15px;
  margin-top: 45px;
}
/* line 914, ../sass/_main_style.scss */
.location-container .maps .btn i {
  color: #fff;
}
/* line 918, ../sass/_main_style.scss */
.location-container .maps .btn:hover {
  color: #8a2b1e;
  background: #fff;
}
/* line 921, ../sass/_main_style.scss */
.location-container .maps .btn:hover i {
  color: #8a2b1e;
}
/* line 927, ../sass/_main_style.scss */
.location-container .maps:nth-child(1), .location-container .maps:nth-child(4) {
  width: 40%;
}
/* line 933, ../sass/_main_style.scss */
.location-container .gm-style .place-card, .location-container .gm-style .default-card, .location-container .gm-style .directions-card {
  display: none !important;
}
/* line 936, ../sass/_main_style.scss */
.location-container .second-hr {
  width: 100%;
  padding-top: 1px;
  max-width: 1440px;
  clear: both;
  margin: 15px auto;
}

/* line 944, ../sass/_main_style.scss */
.concept-slider {
  padding: 115px 15px 115px;
}
/* line 946, ../sass/_main_style.scss */
.concept-slider .section-menu {
  padding-bottom: 45px;
}
/* line 948, ../sass/_main_style.scss */
.concept-slider .section-menu:after {
  display: none;
}
/* line 952, ../sass/_main_style.scss */
.concept-slider .main-box {
  margin: auto;
  max-width: 990px;
}
/* line 956, ../sass/_main_style.scss */
.concept-slider .main-box > div {
  position: relative;
  padding-bottom: 70%;
}
/* line 961, ../sass/_main_style.scss */
.concept-slider .main-box .slider {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}
/* line 970, ../sass/_main_style.scss */
.concept-slider .main-box .slider-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 978, ../sass/_main_style.scss */
.concept-slider .main-box .slider-box ul {
  display: flex;
  position: relative;
  left: 0px;
  transition: all 0.7s ease;
}
/* line 986, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 100%;
  z-index: 100;
}
/* line 993, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul {
  text-align: center;
  position: relative;
  z-index: 10;
}
/* line 998, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul li {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: solid 1px #fff;
  border-radius: 100%;
  margin: 15px;
  background: transparent;
  transition: background 0.7s;
  cursor: pointer;
}
/* line 1010, ../sass/_main_style.scss */
.concept-slider .main-box .slide-dot ul .active {
  background: #fff;
}
/* line 1017, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn, .concept-slider .main-box .next-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 10;
  cursor: pointer;
}
/* line 1024, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn i, .concept-slider .main-box .next-btn i {
  color: #fff;
  font-size: 32px;
  line-height: 32px;
}
/* line 1031, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn {
  display: none;
}
/* line 1038, ../sass/_main_style.scss */
.concept-slider .main-box .pre-btn {
  left: 0px;
  margin-left: -32px;
}
/* line 1044, ../sass/_main_style.scss */
.concept-slider .main-box .next-btn {
  right: 0px;
  margin-right: -32px;
}

/* line 1051, ../sass/_main_style.scss */
.concept-info {
  background-color: #6d6d6d;
  max-width: none !important;
  position: relative;
  overflow: hidden;
  padding: 115px 25px;
  margin: 0 -15px !important;
}
/* line 1059, ../sass/_main_style.scss */
.concept-info .concept-bg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  transform-origin: center;
  margin-top: -15%;
  opacity: 0.5;
  transition: all 12s ease;
}
/* line 1068, ../sass/_main_style.scss */
.concept-info .concept-bg img {
  width: 100%;
}
/* line 1073, ../sass/_main_style.scss */
.concept-info .animated {
  margin-top: 0%;
  opacity: 1;
}
/* line 1078, ../sass/_main_style.scss */
.concept-info .main-box {
  position: relative;
  z-index: 1;
}
/* line 1083, ../sass/_main_style.scss */
.concept-info h1, .concept-info p {
  color: #fff;
}

/* line 3, ../sass/_media.scss */
.no-opacity {
  opacity: 1;
}

@media (min-width: 1600px) {
  /* line 10, ../sass/_media.scss */
  .about-wrapper .header {
    background-image: url(../images/13_kvbackground.jpg);
    background-size: 100%;
  }

  /* line 16, ../sass/_media.scss */
  .concept-wrapper .header {
    background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
    background-size: 100%;
  }
}
@media (min-width: 777px) {
  /* line 24, ../sass/_media.scss */
  .visible-xs {
    display: none;
  }

  /* line 28, ../sass/_media.scss */
  .hidden-xs {
    display: block;
  }
}
@media (max-width: 776px) {
  /* line 37, ../sass/_media.scss */
  .main-container h1 {
    padding: 15px;
    font-size: 30px;
    letter-spacing: 0.5px;
  }
  /* line 43, ../sass/_media.scss */
  .main-container p {
    font-size: 18px;
  }

  /* line 48, ../sass/_media.scss */
  #slide1 {
    background-image: url(../images/09redray_A.jpg);
  }

  /* line 52, ../sass/_media.scss */
  #slide2 {
    background-image: url(../images/11redray_C.jpg);
  }

  /* line 56, ../sass/_media.scss */
  #slide3 {
    background-image: url(../images/10redray_B.jpg);
  }

  /* line 66, ../sass/_media.scss */
  .main-container h1 + hr {
    margin-top: 15px;
  }

  /* line 73, ../sass/_media.scss */
  .header .nav-zone:first-child {
    display: none;
  }
  /* line 78, ../sass/_media.scss */
  .header .fixed-nav {
    display: block;
    opacity: 0;
    transition: all 0.7s;
  }
  /* line 83, ../sass/_media.scss */
  .header .fixed-nav .logo-box {
    width: 70px;
  }
  /* line 87, ../sass/_media.scss */
  .header .fixed-nav ul {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #403e3a;
    top: 50px;
    left: 0px;
    padding: 25px;
    z-index: 5;
  }
  /* line 98, ../sass/_media.scss */
  .header .fixed-nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
  }
  /* line 105, ../sass/_media.scss */
  .header .fixed-nav ul .contact-btn {
    padding: 15px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 45px;
  }
  /* line 114, ../sass/_media.scss */
  .header .header-bg {
    background-position: bottom center;
    background-size: 110%;
    background-image: url(../images/KV02-mobile.png);
  }
  /* line 120, ../sass/_media.scss */
  .header .slogan {
    top: 58%;
    left: 60%;
    margin: 0;
  }
  /* line 125, ../sass/_media.scss */
  .header .slogan p {
    font-size: 21px;
  }

  /* line 132, ../sass/_media.scss */
  .fixed-nav {
    padding: 10px 15px;
  }

  /* line 136, ../sass/_media.scss */
  .hidden-xs {
    display: none;
  }

  /* line 140, ../sass/_media.scss */
  .visible-xs {
    display: block;
  }

  /* line 147, ../sass/_media.scss */
  .index-product-container {
    display: block;
  }
  /* line 151, ../sass/_media.scss */
  .index-product-container > div {
    padding: 0px;
    width: 100%;
  }
  /* line 156, ../sass/_media.scss */
  .index-product-container h1 {
    padding: 65px 25px 25px;
  }
  /* line 160, ../sass/_media.scss */
  .index-product-container p {
    padding-left: 25px;
    padding-right: 25px;
  }

  /* line 166, ../sass/_media.scss */
  .index-conceptstore-container {
    background-size: auto 100%;
  }

  /* line 171, ../sass/_media.scss */
  .about-wrapper .header, .contact-wrapper .header {
    background-image: url(../images/13_kvbackground.jpg);
    background-size: auto 100%;
    margin-top: 49px;
    padding: 15px 15px;
  }
  /* line 177, ../sass/_media.scss */
  .about-wrapper .header h1, .contact-wrapper .header h1 {
    font-size: 30px;
    letter-spacing: 1px;
  }

  /* line 185, ../sass/_media.scss */
  .contact-wrapper .header {
    background-image: url(../images/01_KV%20Scenario-mobile.jpg);
  }

  /* line 191, ../sass/_media.scss */
  .concept-wrapper .header {
    background-image: url(../images/01_KV_Scenario_conceptstore.jpg);
    background-size: 100%;
  }

  /* line 199, ../sass/_media.scss */
  .footer .container .box {
    font-size: 14px;
    text-align: center !important;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  /* line 207, ../sass/_media.scss */
  .footer .container .box a {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: serif !important;
  }
  /* line 215, ../sass/_media.scss */
  .footer .container .box:nth-child(2) {
    border: none;
  }
  /* line 220, ../sass/_media.scss */
  .footer .container .fb-btn {
    margin-right: 0px;
  }

  /* line 227, ../sass/_media.scss */
  .copyright p {
    letter-spacing: 0px;
    font-size: 12px;
  }

  /* line 234, ../sass/_media.scss */
  .about-prouct {
    padding: 80px 20px;
  }
  /* line 239, ../sass/_media.scss */
  .about-prouct .main-box h1, .about-prouct .main-box p {
    text-align: center;
  }
  /* line 243, ../sass/_media.scss */
  .about-prouct .main-box p {
    line-height: 1.55em;
  }
  /* line 247, ../sass/_media.scss */
  .about-prouct .main-box hr {
    margin: 20px auto;
  }
  /* line 253, ../sass/_media.scss */
  .about-prouct .product img {
    width: 100%;
  }
  /* line 258, ../sass/_media.scss */
  .about-prouct .item1 {
    top: -70px;
    left: 0%;
    width: 250px;
  }
  /* line 264, ../sass/_media.scss */
  .about-prouct .item2 {
    top: 10%;
    left: -90px;
    width: 180px;
  }
  /* line 270, ../sass/_media.scss */
  .about-prouct .item3 {
    width: 230px;
    right: -45px;
    bottom: 35px;
  }

  /* line 277, ../sass/_media.scss */
  .about-brand {
    padding-bottom: 0px;
  }
  /* line 280, ../sass/_media.scss */
  .about-brand span {
    display: none;
  }

  /* line 286, ../sass/_media.scss */
  #about-slider {
    padding: 45px 25px;
  }
  /* line 290, ../sass/_media.scss */
  #about-slider .main-box {
    padding-bottom: 305px;
    text-align: center;
  }
  /* line 294, ../sass/_media.scss */
  #about-slider .main-box h1, #about-slider .main-box p, #about-slider .main-box span {
    text-align: center;
  }
  /* line 298, ../sass/_media.scss */
  #about-slider .main-box p {
    line-height: 1.55em;
  }
  /* line 302, ../sass/_media.scss */
  #about-slider .main-box hr {
    height: 45px;
    margin: 0 auto 15px;
  }
  /* line 308, ../sass/_media.scss */
  #about-slider .slider-text {
    position: absolute;
    top: 140px;
    left: 0px;
    display: none;
  }
  /* line 314, ../sass/_media.scss */
  #about-slider .slider-text span {
    font-size: 30px;
  }
  /* line 318, ../sass/_media.scss */
  #about-slider .slider-text h1 {
    color: #8a2b1e;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  /* line 325, ../sass/_media.scss */
  #about-slider .slider-bg {
    background-size: auto 100%;
  }

  /* line 332, ../sass/_media.scss */
  .video-responsive {
    margin-bottom: 0px;
  }

  /* line 336, ../sass/_media.scss */
  .about-video {
    padding: 25px 15px 35px;
  }

  /* line 340, ../sass/_media.scss */
  .main-tele {
    font-family: serif !important;
  }
  /* line 343, ../sass/_media.scss */
  .main-tele p {
    font-size: 30px;
  }

  /* line 349, ../sass/_media.scss */
  .location-container .embed-responsive {
    display: none !important;
  }
  /* line 352, ../sass/_media.scss */
  .location-container .maps {
    padding: 0px;
    width: 100% !important;
  }
  /* line 356, ../sass/_media.scss */
  .location-container .maps .btn {
    margin: 45px auto 0;
    display: table;
  }

  /* line 363, ../sass/_media.scss */
  .concept-slider {
    padding: 45px 0 0;
  }

  /* line 367, ../sass/_media.scss */
  .concept-slider .section-menu {
    display: block;
    padding-bottom: 15px;
  }
}
